<a href="https://colab.research.google.com/github/Sohdjeukeu/Labo_GTI_720/blob/merlin_Equipe_G_720/labo_1_01_g.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Description
Le but de ce laboratoire est de vous familiariser aux enjeux de vie privée des données dépersonalisées et aggrégés ainsi qu'aux propriétés de k-anonymat et de l-diversité. On utilisera ici une version modifiée (contenant des `DCP`) du jeu de données [UCI Adult Income](https://archive.ics.uci.edu/ml/datasets/adult) contenant des informations démographiques du recensement américain de 1994. Ce laboratoire est réalisé avec Python et les librairies `pandas`, `numpy` et `matplotlib`.

## Partie 0: Installation de l'environement de travail (5pts)

**Question 0** [5 pts]:
- Installer `uv` en suivant cette [documentation](https://docs.astral.sh/uv/)
- Utiliser `uv` pour installer `Python 3.13`
- Installer les librairies suivantes dans votre environement virtuel local
    - `pandas`
    - `numpy`
    - `matplotlib`

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Partie 1: Attaques ciblant un jeu de données dépersonalisées (31 pts)
Un renseignement personnel est `dépersonnalisé` si ce dernier ne permet plus d’identifier *directement* la personne concernée. La dépersonilisation consiste donc à retirer les identifiants direct du jeu de données.

In [ ]:
# importation du jeux de données
adult = pd.read_csv('https://github.com/tisl-lab/data-privacy-class/blob/main/data/adult_with_pii.csv?raw=true')

In [ ]:
# affichache des 5 premières lignes du jeux de données
adult.head(5)

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,Karrie Trusslove,9/7/1967,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Brandise Tripony,6/7/1988,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Brenn McNeely,8/6/1991,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Dorry Poter,4/6/2009,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Dick Honnan,9/16/1951,220-93-3811,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Question 1** [3 pts]: Identifier les `identifiants directs` de ce jeu de données. Justifier pourquoi vous avez choisis ces attributs.
Conseils: Référer vous à la définition de donnée à caractère personnel définie dans le cours 1.

In [ ]:
df = pd.DataFrame(adult)

non_duplicate_columns = []
for column in df.columns:
       if not df[column].duplicated().any():
           non_duplicate_columns.append(column)

non_duplicate_columns

['Name']

D'après le code ci-dessus, on voit qu'il n'y a que le nom qui est unique.

Les identifiants directs de ce jeu de données sont :

- Name

**Question 2** [5 pts]: A l'aide de ces `identifiants directs`, construire la version dépersonalisée de ce jeu de données.

In [ ]:
def depersonaliser_adult():
    df_depersonalized = df.copy()
    df_depersonalized= df_depersonalized.drop(['Name'], axis=1)
    return df_depersonalized

In [ ]:
adult_depersonalise = depersonaliser_adult()

In [ ]:
adult_depersonalise

,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,9/7/1967,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,6/7/1988,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,8/6/1991,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,4/6/2009,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,9/16/1951,220-93-3811,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,10/29/1961,212-61-8338,41328,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,6/28/1952,737-32-2919,94735,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,8/9/1966,314-48-0219,49628,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,5/19/1978,647-75-3550,8213,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,5/11/2012,690-42-5638,86153,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**Question 3** [1 pts]: Afficher les 5 premières ligne du jeu de données dépersonalisée

In [ ]:
adult_depersonlise.head(5)

,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,9/7/1967,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,6/7/1988,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,8/6/1991,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,4/6/2009,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,9/16/1951,220-93-3811,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Question 4** [3 pts]: En utilisant `pandas`, écrire un code qui renvoit uniquement la ligne corespondant à l'enregistrement de `Faith McCloughlin` à partir du jeu de donnée original `adult`

In [ ]:
def get_McCloughlin_row():
    # VOTRE CODE ICI:
    # définissons les critères de recherche, il sera basé uniquemnt sur le nom
    critere_reherche = {
        'Name':'Faith McCloughlin'
    }
    # filtrer le dataset adult pour trouver la ligne correspondante
    for index, valeur in adult['Name'].items():
      if valeur == critere_reherche['Name']:
        resultat = adult.iloc[index]
        return resultat
    return None

In [ ]:
get_McCloughlin_row()

Name              Faith McCloughlin
DOB                      12/25/1984
SSN                     718-79-8158
Zip                           41277
Age                              30
Workclass                   Private
fnlwgt                       132565
Education              Some-college
Education-Num                    10
Marital Status        Never-married
Occupation             Craft-repair
Relationship              Unmarried
Race                          White
Sex                            Male
Capital Gain                      0
Capital Loss                      0
Hours per week                   40
Country               United-States
Target                        <=50K
Name: 11019, dtype: object

In [ ]:
#assert len(McCloughlin_row) == 1
#assert McCloughlin_row['SSN'].iloc[0] == '718-79-8158'

**Question 5** [2 pts]:  À l'aide de l'enregistrement `McCloughlin_row`, récuper les quasi-identifiants `Zip`, `Age` et `Sex` de `Faith McCloughlin`.

In [ ]:
McCloughlin_row = get_McCloughlin_row()

In [ ]:
liste_Zip_Age_Sex = McCloughlin_row[['Zip','Age','Sex']].tolist()
#liste_Zip_Age_Sex

print(f'son Zip:{liste_Zip_Age_Sex[0]}; son age:{liste_Zip_Age_Sex[1]}; son sex: {liste_Zip_Age_Sex[2]}')

son Zip:41277; son age:30; son sex: Male

**Question 6** [5 pts]:  En utilisant ces quasi-identifiants, effectuer une attaque de `ré-identification` de `Faith McCloughlin` à partir du jeu de données dépersonalisé `Faith McCloughlin`.

L'attaque de ré-identification est une menace significative pour la protection des données personnelles. **Elle va consister à reconstruire l'identité des individus à partir du jeu de données supposées depersonnalisées dans notre contexte.**

In [ ]:
def recover_McCloughlin_row():
    # Charger le jeu dépersonnalisé qui correspond aux informations de McCloughlin
    recover_df = adult[(adult['Zip'] == liste_Zip_Age_Sex[0]) &
                                        (adult['Age'] == liste_Zip_Age_Sex[1]) &
                                        (adult['Sex'] == liste_Zip_Age_Sex[2])]


    return recover_df["Name"]

In [ ]:
McCloughlin_recovered_row = recover_McCloughlin_row()

In [ ]:
recover_McCloughlin_row()

11019    Faith McCloughlin
Name: Name, dtype: object

In [ ]:
def recover_McCloughlin_row1():
    # Filtrer le jeu de données depersonnaliser sur les quasi-identifiants de Faith McCloughlin et voyons s'il nous obtenons uniquement cet utilisateur
    Zip_faith = 41277
    age_faith = 30
    sex_faith = 'Male'
    for index, valeur in adult_depersonlise.iterrows():
      if(valeur['Zip']==Zip_faith and valeur['Age']==age_faith and valeur['Sex']==sex_faith):
        return valeur
    return None

In [ ]:
recover_McCloughlin_row1()

DOB                  12/25/1984
SSN                 718-79-8158
Zip                       41277
Age                          30
Workclass               Private
fnlwgt                   132565
Education          Some-college
Education-Num                10
Marital Status    Never-married
Occupation         Craft-repair
Relationship          Unmarried
Race                      White
Sex                        Male
Capital Gain                  0
Capital Loss                  0
Hours per week               40
Country           United-States
Target                    <=50K
Name: 11019, dtype: object

**Question 7** [2 pts]:  Montrer que la connaissance du `Zip` suffit pour ré-identifier `Faith McCloughlin`

In [ ]:
 adult_loc_zip= adult[adult["Zip"] == liste_Zip_Age_Sex[0]]
adult_loc_zip

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
11019,Faith McCloughlin,12/25/1984,718-79-8158,41277,30,Private,132565,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,0,40,United-States,<=50K

**Question 8** [4 pts]:  Peut-on dire la même chose de l'attribut `Age`? Même question pour l'attribut `Sex`.

In [ ]:
adult_loc_age = adult[adult["Age"] == liste_Zip_Age_Sex[1]]
adult_loc_age

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
11,Hedda Allworthy,6/14/1995,232-09-2296,89259,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
33,Laurena Abrahamsohn,8/11/2006,662-32-0909,20061,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
59,Ruthie McVittie,12/29/1978,692-85-3206,43800,30,Private,188146,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5013,0,40,United-States,<=50K
60,Mufinella Paddington,3/21/1975,565-95-8300,54588,30,Private,59496,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,2407,0,40,United-States,<=50K
88,Selina Barkworth,6/2/1961,587-11-3746,22875,30,Private,54334,9th,5,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32456,Flory Matzaitis,7/25/1984,880-06-3508,77508,30,Self-emp-not-inc,261943,11th,7,Married-spouse-absent,Craft-repair,Not-in-family,White,Male,0,0,30,Honduras,<=50K
32516,Amy Shrubb,7/14/1952,552-06-5099,47755,30,Private,176175,Assoc-voc,11,Divorced,Adm-clerical,Unmarried,White,Female,0,0,24,United-States,<=50K
32523,Damon Duham,5/9/1981,755-11-7055,76367,30,Private,77266,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,55,United-States,<=50K
32531,Hughie Behnen,10/28/2008,849-91-7626,79515,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32537,Meredeth Pickavance,8/11/1962,531-67-5318,57639,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K

In [ ]:
adult_loc_sex = adult[adult["Sex"] == liste_Zip_Age_Sex[2]]
adult_loc_sex

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,Karrie Trusslove,9/7/1967,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Brandise Tripony,6/7/1988,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Brenn McNeely,8/6/1991,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Dorry Poter,4/6/2009,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,Erhard Nesbeth,7/25/1971,208-67-0874,60887,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,Leonora Shaxby,2/9/2008,288-99-7030,62311,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,Helyn Heartfield,8/21/1963,686-10-4598,7466,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,Gearalt Dodshun,7/22/1985,370-97-0761,60940,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,Jean O'Connor,6/28/1952,737-32-2919,94735,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,Caye Biddle,5/19/1978,647-75-3550,8213,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

Non on ne peut pas dire que l'age permet à lui seul de réidentifier Faith McCloughlin car on voit dans le dataFrame qu'il y a plusieurs personnes qui ont le même âge et le même sex.

**Question 9** [2 pts]:  Combien de personnes peut-on réidentifier de manière unique avec la connaissance de l'attribut `Zip`? Même question pour l'attribut `DOB`.

In [ ]:
adult_zip_unique = len(adult["Zip"].unique())
adult_DOB_unique = len(adult["DOB"].unique())

print("On peut réidentifier de manière unique %d personnes avec la connaissance de l'attribut Zip." % adult_zip_unique)

print("On peut réidentifier de manière unique %d personnes avec la connaissance de l'attribut DOB." % adult_DOB_unique)

On peut réidentifier de manière unique 27791 personnes avec la connaissance de l'attribut Zip.
On peut réidentifier de manière unique 17309 personnes avec la connaissance de l'attribut DOB.

**Question 10** [4 pts]:  Combien de personnes de personnes peut-on réidentifier avec une chance de 1/2 (resp. 1/3) avec la connaissance de l'attribut `Zip`? Même question pour l'attribut `DOB`

In [ ]:
# ZIP
value_counts_Zip = adult['Zip'].value_counts()
#zip_doublons = value_counts[value_counts == 2].index
zip_1_2 = value_counts_Zip[value_counts_Zip == 2].count()

zip_triplets = value_counts_Zip[value_counts_Zip == 3].index


#print("On peut réidentifier %d personnes avec une chance de 1/2 pour le ZIP" % len(zip_doublons))
print("On peut réidentifier %d personnes avec une chance de 1/2 pour le ZIP" % 2*)
print("On peut réidentifier %d personnes avec une chance de 1/3 pour le ZIP" % len(zip_triplets))

#DOB
value_counts_DOB = adult['DOB'].value_counts()
dob_doublons = value_counts_DOB[value_counts_DOB == 2].index
dob_triplets = value_counts_DOB[value_counts_DOB == 3].index

print("\nOn peut réidentifier %d personnes avec une chance de 1/2 pour le DOB" % len(dob_doublons))
print("On peut réidentifier %d personnes avec une chance de 1/3 pour le DOB" % len(dob_triplets))
zip_doublons = value_counts_Zip[value_counts_Zip == 2]
zip_doublons

On peut réidentifier 398 personnes avec une chance de 1/3 pour le ZIP

On peut réidentifier 5470 personnes avec une chance de 1/2 pour le DOB
On peut réidentifier 2660 personnes avec une chance de 1/3 pour le DOB

Zip
59078    2
82778    2
1165     2
36128    2
63952    2
        ..
46443    2
75383    2
50997    2
66545    2
66401    2
Name: count, Length: 3835, dtype: int64

In [ ]:
# ZIP
value_counts_Zip = adult['Zip'].value_counts()
# zip_doublons = value_counts_Zip[value_counts_Zip == 2].index
zip_1_2 = value_counts_Zip[value_counts_Zip == 2].count()   # retourne le nombre de code postal apparaissant exactement 2 fois

#zip_triplets = value_counts_Zip[value_counts_Zip == 3].index
zip_1_3 = value_counts_Zip[value_counts_Zip == 3].count()  # retourne le nombre de code postal apparaissant exactement 3 fois


#print("On peut réidentifier %d personnes avec une chance de 1/2 pour le ZIP" % len(zip_doublons))
print(f"On peut réidentifier {2*zip_1_2} personnes avec une chance de 1/2 pour le ZIP" )
#print("On peut réidentifier %d personnes avec une chance de 1/3 pour le ZIP" % len(zip_triplets))
print(f"On peut réidentifier {3*zip_1_3} personnes avec une chance de 1/3 pour le ZIP")

#DOB
value_counts_DOB = adult['DOB'].value_counts()
#dob_doublons = value_counts_DOB[value_counts_DOB == 2].index
dob_1_2 = value_counts_DOB[value_counts_DOB == 2].count() # retourne le nombre de DOB qui apparait exactement 2 fois
#dob_triplets = value_counts_DOB[value_counts_DOB == 3].index
dob_1_3 = value_counts_DOB[value_counts_DOB == 3].count() #retourne le nombre de DOB qui apparait exactement 3 fois

#print("\nOn peut réidentifier %d personnes avec une chance de 1/2 pour le DOB" % len(dob_doublons))
print(f"\nOn peut réidentifier {2*dob_1_2} personnes avec une chance de 1/2 pour le DOB")
#print("On peut réidentifier %d personnes avec une chance de 1/3 pour le DOB" % len(dob_triplets))
print(f"On peut réidentifier {3*dob_1_3} personnes avec une chance de 1/3 pour le DOB")

On peut réidentifier 7670 personnes avec une chance de 1/2 pour le ZIP
On peut réidentifier 1194 personnes avec une chance de 1/3 pour le ZIP

On peut réidentifier 10940 personnes avec une chance de 1/2 pour le DOB
On peut réidentifier 7980 personnes avec une chance de 1/3 pour le DOB

## Partie 2: Attaques ciblant un jeu de données aggrégées (25 pts)
La partie 1 montre que les jeux de données dépersonnalisés peuvent être problématique car ils permettent avec très peu d'information de réidentifier des personnes concernées.
Dans cette partie, on s'intéresse à ce que les données aggrégées peuvent révéler sur les individus contenu dans les jeux de données originaux.

### Problème des petits groupes

**Question 11** [2 pts]: À l'aide de la fonction `mean`, calculer l'âge moyen des individus contenus dans le jeu de données `adult`.

In [ ]:
age_moyen = adult["Age"].mean()
age_moyen.round()

39.0

**Question 12** [2 pts]: À l'aide des fonctions `mean` et `groupby`, calculer l'âge moyen *groupé par pays* des individus contenus dans le jeu de données `adult`.

In [ ]:
age_moyen_par_pays = adult.groupby(by='Country')['Age'].mean().round()
age_moyen_par_pays

Country
Cambodia                      38.0
Canada                        43.0
China                         43.0
Columbia                      40.0
Cuba                          46.0
Dominican-Republic            38.0
Ecuador                       37.0
El-Salvador                   34.0
England                       41.0
France                        39.0
Germany                       39.0
Greece                        46.0
Guatemala                     32.0
Haiti                         38.0
Holand-Netherlands            32.0
Honduras                      34.0
Hong                          34.0
Hungary                       49.0
India                         38.0
Iran                          39.0
Ireland                       36.0
Italy                         46.0
Jamaica                       36.0
Japan                         38.0
Laos                          35.0
Mexico                        33.0
Nicaragua                     34.0
Outlying-US(Guam-USVI-etc)    39.0
Peru                          35.0
Philippines                   39.0
Poland                        43.0
Portugal                      40.0
Puerto-Rico                   41.0
Scotland                      40.0
South                         39.0
Taiwan                        34.0
Thailand                      35.0
Trinadad&Tobago               41.0
United-States                 39.0
Vietnam                       34.0
Yugoslavia                    39.0
Name: Age, dtype: float64

**Question 13** [2 pts]: À l'aide de la fonction `value_counts`, montrer les statistiques du nombre de personnes par pays du jeu de données `adult`.

In [ ]:
adult['Country'].value_counts()

Country
United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

**Question 14** [5 pts]:  Que peut-on déduire de l'âge d'une certaine personne originaire des Pays-bas ?

In [ ]:
moyenne_age_pays_bas = adult.groupby('Country')['Age'].mean()['Holand-Netherlands']

print(f'La moyenne des ages au pays bas est de: {moyenne_age_pays_bas}')

La moyenne des ages au pays bas est de: 32.0

### Attaques de différenciation

Supposons maintenant que les données agrégées sont publiées chaque années et que le jeu de donnée `adult` contient les enregistrements de l'année courrante.

**Question 15** [2 pts]: À l'aide de la fonction `sum` calculer la somme des heures de travail (`Hours per week`) des individus contenus dans le jeu de données `adult` pour l'année courante.

In [ ]:
heure_travail_par_semaine_annee_courante = adult['Hours per week'].sum()
heure_travail_par_semaine_annee_courante
print(f"la somme des heures de travail (Hours per week) des individus contenus dans le jeu de données adult pour l'année courante est: {heure_travail_par_semaine_annee_courante}")

la somme des heures de travail (Hours per week) des individus contenus dans le jeu de données adult pour l'année courante est: 1316684

**Question 16** [2 pts]: Sachant que seulement `Faith McCloughlin` a été ajouté au jeu de données cette année, calculer la somme des heures de travail des individus contenus dans le jeu de données `adult` l'année précédente.

In [ ]:
# nous devons enlever la ligne correspondante à faith puis procéder au calcul de la somme des heures
for x in adult['Zip']:
    if x == 41277:
        ligne_Faith_McCloughlin = adult[adult['Zip']==x]

ligne_Faith_McCloughlin

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
11019,Faith McCloughlin,12/25/1984,718-79-8158,41277,30,Private,132565,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,0,40,United-States,<=50K

In [ ]:
# nous devons enlever la ligne correspondante à faith puis procéder au calcul de la somme des heures
for x in adult['Zip']:
    if x == 41277:
        adult_annee_precedente = adult[adult['Zip']!=x]

adult_annee_precedente

heure_travail_par_semaine_annee_precedente= adult_annee_precedente['Hours per week'].sum()
heure_travail_par_semaine_annee_precedente

1316644

**Question 17** [5 pts]: Déduire le nombre d'heures de travail de `Faith McCloughlin`

In [ ]:
nombre_heure_faith = heure_travail_par_semaine_annee_courante - heure_travail_par_semaine_annee_precedente
nombre_heure_faith
print(f"Le nombre d'heure de Faith McCloughlin est de : {nombre_heure_faith}")

Le nombre d'heure de Faith McCloughlin est de : 40

**Question 18** [5 pts]: Proposer une méthode pour déduire le nombre d'heures de travail si au lieu de la `somme des heures de travail`, c'est la `moyenne des heures de travail` qui est publiée chaque année.

In [ ]:
adult.groupby(by='Zip')['Hours per week'].mean() #  moyenne des heures par semaine par zip
liste_moyen_heure_par_Zip = adult.groupby(by='Zip')['Hours per week'].mean()

liste_moyen_heure_par_Zip # serie pandas

# le zip de faith étant 41277  et est unique
liste_moyen_heure_par_Zip[41277]
print(f"Le nombre d'heure de Faith McCloughlin est de: {liste_moyen_heure_par_Zip[41277]}")

Le nombre d'heure de Faith McCloughlin est de: 40.0

## Partie 3: Anonymat (39 pts)

Pour cette partie on utilisera le jeu de donnée suivant:

In [ ]:
# importation du jeux de données
adult_df = pd.read_csv('https://github.com/tisl-lab/data-privacy-class/blob/main/data/adult_small.csv?raw=true')

In [ ]:
adult_df.head(5)

,Zip,Age,Workclass,Education,Marital Status,Occupation,Relationship,Race,Sex,Hours per week,Country
0,27241,50,Private,Some-college,Divorced,Craft-repair,Not-in-family,White,Male,40,United-States
1,77306,28,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
2,99721,36,Self-emp-not-inc,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States
3,43478,65,Private,Some-college,Widowed,Adm-clerical,Not-in-family,White,Female,40,United-States
4,47797,36,Private,Masters,Married-civ-spouse,Prof-specialty,Husband,White,Male,55,United-States

**Question 19** [3 pts]: Expliquer en trois ou quatre phrases un algorithme pouvant vérifier étant donné un jeu de données `D`, une liste `QIDs` de quasi-identifiants et un paramètre `k` que `D` est **k-anonymisé**

D'abord, on crée une clé (index) avec les QIDs correspondant à chaque rangée.

Ensuite, on groupe le jeu de donnée en fonction des QIDs.

Puis, on compte le nombre d'éléments (rangées) dans chaque groupe.

Le nombre k correspondra au nombre de rangé du groupe,

**Question 20** [5 pts]: Proposer une implémentation de cet algorithme qui devra prendre en entrée un dataframe `df`, une liste de quasi-identifiant `QIDs` et le paramètre de k-anonymat `k`.

In [ ]:
def is_k_anonymat(df, QIDs, k):
  df = df.copy()
  df["QIDS"] = df[QIDs].apply(lambda qids : tuple(qids), axis=1)
  df_grouped = df.groupby("QIDS").size()
  df_grouped = all(df_grouped >= k)
  return df_grouped

**Question 21** [2 pts]: Est-ce que ce le jeu de données `adult_df` satisfait le 2-anonymat pour QIDs = `["Sex", "Race"]`?

In [ ]:
result = is_k_anonymat(adult_df,["Sex","Race"], 2)
print("Le jeu de donnée est-il 2-anonymisé ? : %r" %result)

Le jeu de donnée est-il 2-anonymisé ? : True

**Question 22** [3 pts]: Donner la liste des pairs de quasi-identifiants pour lesquels `adult_df` satisfait le 2-anonymat.

Le **k-anonymat** est un critère de confidentialité qui stipule que pour chaque combinaison de valeurs des quasi-identifiants, il doit y avoir au moins k enregistrements dans le jeu de données. Dans ce cas, k = 2

In [ ]:
from itertools import combinations
def get_qids_for_k_anonymat(df,len_qids,k):

  df = df.copy()
  columns = df.columns.tolist()

  for combo in combinations(columns, len_qids):
    result = is_k_anonymat(df, list(combo), k)
    if result :
        return list(combo)
  return []

In [ ]:
list_2_anonymat = get_qids_for_k_anonymat(adult_df,2,2)
list_2_anonymat

['Education', 'Sex']

**Question 23** [3 pts]: Donner la liste des pairs de quasi-identifiants pour lesquels `adult_df` satisfait le 5-anonymat.

In [ ]:
list_5_anonymat = get_qids_for_k_anonymat(adult_df,2,5)
list_5_anonymat

['Relationship', 'Sex']

**Question 24** [3 pts]: Donner la liste des triplets de quasi-identifiants pour lesquels `adult_df` satisfait le 2-anonymat.

In [ ]:
list_2_anonymat = get_qids_for_k_anonymat(adult_df,3,2)
list_2_anonymat

[]

**Question 25** [3 pts]: Expliquer en trois ou quatre phrases comment l'algorithme précédent pourrait être modifié pour vérifier qu'un jeu de données anonymisé satisfait la **l-diversité** pour un attribut sensible `s`.

On créer une colonne qui groupe les QIDs.

On vérifie la condition de k-anonymat avec l'algorithme implémenté précédemment

On vérifie si dans les groupes crées, on retrouve l'attribut sensible répétés au moins l fois.

Si les deux conditions précédentes sont vérifiés alors le jeu de donnée satisfat la l-diversité.

**Question 26** [5 pts]: Proposer une implémentation de cet algorithme qui devra prendre en entrée un dataframe `df`, une liste de quasi-identifiant `QIDs`, un attribut sensible `s`, le paramètre de k-anonymat `k` et le paramètre de l-diversité `l`.

In [ ]:
def is_l_diverse(df,QIDs, s, k, l):
  df = df.copy()
  df["QIDS"] = df[QIDs].apply(lambda qids : tuple(qids), axis=1)
  df_grouped = df.groupby("QIDS")

  columns = df.columns.tolist()


  for o, group in df_grouped:
    if group[s].nunique() >= l and is_k_anonymat(df,QIDs,k):
      return True

  return False

**Question 27** [2 pts]:  Est-ce que ce le jeu de données `adult_df` satisfait au 3-anonymat pour QIDs = `["Sex", "Race"]` et à la 2-diversité pour l'attribut `Occupation`?

In [ ]:
result = is_l_diverse(adult_df,["Sex", "Race"], "Occupation",3,2)
result

True

**Question 28** [5 pts]:  Étant donné le jeu de données `adult_df` qui satisfait le 3-anonymat pour QIDs = `["Sex", "Race"]`, parmi les attributs `["Age", "Workclass", "Relationship", "Country"]`, lesquels pourraient permettre une attaque d'homogénéité s'ils étaient publiés comme attributs sensibles?

In [ ]:
def is_l_homogeneous(df,QIDs, s, k):
  df = df.copy()
  df["QIDS"] = df[QIDs].apply(lambda qids : tuple(qids), axis=1)
  df_grouped = df.groupby("QIDS")

  columns = df.columns.tolist()
  for o, group in df_grouped:
    if group[s].nunique() == 1 and is_k_anonymat(df,QIDs,k):
      return True
  return False

In [ ]:
c = ["Age", "Workclass", "Relationship", "Country"]
for col in c:
  result = is_l_homogeneous(adult_df,["Sex", "Race"], col ,3)
  print("Est-ce que l'attribut %s permet une attaque d'homogénéité ? %r " %(col, result))

Est-ce que l'attribut Age permet une attaque d'homogénéité ? False
Est-ce que l'attribut Workclass permet une attaque d'homogénéité ? True
Est-ce que l'attribut Relationship permet une attaque d'homogénéité ? False
Est-ce que l'attribut Country permet une attaque d'homogénéité ? True

**Question 29** [5 pts]: Proposer un algorithme pour généraliser l'attribut `Zip` en transformant les `n` derniers chiffres en `0`. Votre algorithme devra retourner la version transformée du jeu de données.

In [ ]:
def generalize_zip(df,n):
  df = df.copy()
  df["Zip"] = df["Zip"].apply(lambda zip: str(zip)[:-n] + '0'*n)
  return df

In [ ]:
df_zip = generalize_zip(adult_df,2)
df_zip.head(5)

,Zip,Age,Workclass,Education,Marital Status,Occupation,Relationship,Race,Sex,Hours per week,Country
0,27200,50,Private,Some-college,Divorced,Craft-repair,Not-in-family,White,Male,40,United-States
1,77300,28,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
2,99700,36,Self-emp-not-inc,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States
3,43400,65,Private,Some-college,Widowed,Adm-clerical,Not-in-family,White,Female,40,United-States
4,47700,36,Private,Masters,Married-civ-spouse,Prof-specialty,Husband,White,Male,55,United-States